# ---- Terraform ----
terraform/.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# ---- AWS ----
.aws/

# ---- OS / Editor ----
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ---- Scripts / local output ----
outputs.txt
*.log
iam-policy.json
